/* src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #031e53;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .App-header h1 {
    font-size: 24px;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    margin: 10px 0;
  }

  main {
    padding: 10px;
  }
}

@media (min-width: 601px) {
  .App-header h1 {
    font-size: 36px;
  }
}

button {
  background-color: #061519;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}
